# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Test caches
.pytest_cache/
.hypothesis/

# IDE
.vscode/
.idea/

# Python virtual environment
.venv/

# OS
.DS_Store
Thumbs.db

# Environment / Secrets
.env
*.pem
*.key
